body {
  background: #0f0f23; /*337 x 5*/
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  border: none;
}

a {
    color: #cccccc;
}

a:hover {
    color: white;
    font-weight: bolder;
}

label:hover {
    color: white;
    outline: 1px solid;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month {
    font-size: 5vw;
    flex-shrink: 0;
    font-weight: bolder;
}

.days {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.cells {
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

.dates {
    font-size: 10vw;
}

.puzzle {
    color: white;
    font-weight: bolder;
}

.d2p1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.d4p1 {
    display: grid;
    grid-template-columns: 1fr auto;
}

.d5p1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#puzzleInput {
    display: none;
}