body {
  background: #0f0f23; /*337 x 5*/
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  border: none;
}

a {
    color: #cccccc;
}

a:hover {
    color: white;
    font-weight: bolder;
}

label:hover {
    color: white;
    outline: 1px solid;
}

.outer {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month {
    font-size: 5vw;
    flex-shrink: 0;
    font-weight: bolder;
}

.days {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
}

.cells {
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
}

.dates {
    font-size: 10vw;
}

.puzzle {
    color: white;
    font-weight: bolder;
}

.status {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.puzzleDisplay {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.puzzleDisplay > #inputDisplay {
    flex: 1;
    text-align: right;
}

.puzzleDisplay > #outputDisplay {
    flex: 1;
    text-align: left;
}
